<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div hidden id="DATABASE_SERVICE_URL">{{DATABASE_SERVICE_URL}} </div>
<div hidden id="EXPENSE_DETAILS_SERVICE_URL">{{EXPENSE_DETAILS_SERVICE_URL}} </div>
<div hidden id="EXPENSE_MANAGEMENT_SERVICE_URL">{{EXPENSE_MANAGEMENT_SERVICE_URL}} </div>
<body>
    <h1>Dashboard</h1>
    <header>
        <h2>My Expenses</h2>
    </header>
    <div id="protected-content">
        <div class="content-wrapper">
            <ol style="--length: 5" role="list">
                
            </ol>
            <div class="button-area">
                <button class="button2" onclick="openModal()">Add Group</button>
            </div>
        </div>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <div class="modal-header">
                <h2>Add Group</h2>
            </div>
            <div class="modal-body">
                <label for="groupName">Name:</label>
                <input type="text" id="groupName" name="groupName" required>
                <label for="dayInput">Day:</label>
                <input type="number" id="dayInput" name="dayInput" min="1" max="31" required>
                <label for="monthInput">Month:</label>
                <input type="number" id="monthInput" name="monthInput" min="1" max="12" required>
                <label for="yearInput">Year:</label>
                <input type="number" id="yearInput" name="yearInput" min="1900" max="2024" required>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="createGroup()">Create</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/dashboard.js') }}"></script>
</body>
</html>
